@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
p {
  font-size: 1.1em;
  line-height: 1.2em;
  color: black;
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-color: rgb(0, 0, 0);
  }
  
  .botones {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .filtroCategoria {
    background-color: rgb(33, 43, 222);
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: larger;
  }
  #buscador {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    flex-grow: 3;
  }
  
  .tarjetaProducto {
    background-color: rgb(34, 62, 203);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
  }
  
  img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .carrito {
    background-color: rgb(200, 171, 161);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  
  #finalizarCompra {
    background-color: rgb(27, 61, 212);
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    padding: 3px 30px;
  display: flex;
  justify-content: center;
  
  }